body {color:#033; background-color:#FCA}
.pic {float:left; text-align:center; width:125px; height:150px; margin:15px; font-weight:bold}
.pic img {border:0px; width:100px; height:100px}
div {display:block}
br {clear:both}
.last {width:100%; text-align:right; font-style:italic; font-size: smaller;}
a:link, a:visited {color:#03C}
h1 a img, h1 img {float:right; margin-left:50px; margin-bottom:50px;}