body {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4
{
	font-weight: 300;
	line-height: 1.1;
}
.ae > img {width: 100%;}
.ae {width: 75%; margin: auto;}
.last {
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: smaller;
}
.box {
    padding: 1px 1px 1px 30px;
    margin: 15px 0;
    border-left: 10px solid #f0ad4e;
    background: #fcf8f2;
    color: #df8a13;
}
a {
    color: #008cba;
    text-decoration: none;
}